#navbar-container {
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 10%;
  justify-content: space-between;
  color: white;
  margin:2.5px 0 0;
}
.navbar-item {
  display: flex;
}
.navbar-item-data {
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: none;
}
.navbar-item-data:hover {
  cursor: pointer;
  color: var(--color-secondary-bright);
}
.navbar-icon:hover {
  cursor: pointer;
  color: var(--color-secondary-bright);
}
.navbar-icon {
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.menu-icon{
  display:none;
}

.dropdown-menu{
  background-color: var(--color-primary);
}
.dropdown-item{
  color: white;
  font-weight: bold;
  padding: 10px;
}
.dropdown-item:focus{
  color: var(--color-secondary-bright);
  background-color: var(--color-primary);
}
.dropdown-item:hover{
  background-color: var(--color-primary) ;
  color: var(--color-secondary-bright);
}
.dropdown-item:visited{
  background-color: var(--color-primary);
}
