.about-class-container{
    width: 100%;
}
.about-school-header-text{
    background: var(--color-banner-background), url(../../assets/about-school-banner.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-school-header-text h1{
    font-size: 5rem;
    font-weight: 650;
}
.about-class-container h1{
    text-align: center;
    font-size: 4rem;
}
.about-school-content-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.about-school-text-content{
    margin: 0 ;
    width: 450px;
}
.about-school-image-content {
    width: 450px;
    margin: 0 ;
}
.about-school-text-content p{
    font-size: 1.2rem;
}
.aboutschool-images{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.about-school-carousel-container{
    width: 90%;
    margin: 2% auto 1%;
}
.about-school-carousel-image{
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border-radius: 10px;
    object-fit: cover;
}


@media only screen and (min-width:1024px){
    .about-school-content-container{
        gap: 60px;
    }
    .about-school-image-content, .aboutschool-images{
        width: 450px;
    }
}
@media only screen and (max-width:790px){
    .about-school-image-content, .aboutschool-images{
        width: 300px;
    }
    .about-school-text-content p{
        font-size: 1rem;
        padding: 10px;
    }
}
@media only screen and (max-width:480px){

    .about-school-header-text{
        height: 50vh;
    }
    .about-school-header-text h1{
        font-size: 2.5rem;
    }
    .about-class-container h1{
        font-size: 2rem;
    }
    .about-school-content-container{
        flex-wrap: wrap;
    }
    .about-school-image-content, .aboutschool-images{
        width: 300px;
    }
    .about-school-text-content p{
        font-size: .8rem;
        padding: 10px;
    }
    .about-school-carousel-image{
        width: 275px;
    }
}