.concluded-events-header-text{
    background:var(--color-banner-background),  url(../../assets/about-school-banner.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.concluded-events-header-text h1{
    font-weight: 650;
    font-size:5rem ;
}
.concluded-events-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 40px;
    margin: 0 0 5%;
}
.concluded-events-container h2{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 3%;
}

@media only screen and (max-width:480px){
    .concluded-events-header-text{
        height: 50vh;
    }
    .concluded-events-header-text h1{
        font-size: 2.3rem;
    }
    .concluded-events-container h2{
        font-size: 1.5rem;
    }
    .infrastructure-facility-detailed-ul li{
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .infrastructure-facility-carousel-image{
        width: 300px;
    }
}