/* #facilities-container {
  display: grid;
  grid-template-columns: auto  auto;
  justify-content: center; 
  margin: 0px 2.5%;
  gap: 75px;
}
.facilities-card {
  width: 550px;
}
.facilities-card-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.facilities-card-title {
  font-size: 22px;
  font-weight: bold;
  padding: 20px 0;
}
.facilities-card-text {
  line-height: 32px;
  text-align: justify;
}


.facilities-button :hover {
  cursor: pointer;
} */

#facilities-container{
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}
.facilities-card{
  background-color: white;
  margin: 20px;
  width: 600px;
  overflow: hidden;
  width: 100%;
}
.facilities-card-image{
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  width: 100%;
}
.facilities-card-text{
  padding: 0 10px;
  text-align: start;
}
.facilities-card-title{
  color: #333;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  margin-left: 10px ;
}
.facilities-button {
  background-color: #ffedd4;
  color: var(--color-primary);
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 10px 0;
}

@media only screen and (max-width:440px) {
  #facilities-container{
    flex-wrap: wrap;
  }
  .facilities-card{
    margin:10px
  }
}