.infrastructure-facility-header-text{
    background:var(--color-banner-background) ,  url(../../assets/about-school-banner.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infrastructure-facility-header-text h1{
    font-weight: 650;
    font-size:5rem ;
}
.infrastructure-facility-WSPGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 3% 0;
}
.infrastructure-facility-WSPGallery h4{
    padding: 10px;
}
.infrastructure-facility-detailed-list{
    margin: 0 2%;
    font-size: 1.1rem;
    line-height: 2rem;
}
.infrastructure-facility-detailed-ul li{
    padding-bottom: 25px;
}
.infrastructure-facility-carousel-container{
    width: 95%;
    margin: 3% auto 1%;
}

.infrastructure-facility-carousel-image{
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border-radius: 10px;
    object-fit: cover;
}


@media only screen and (max-width:780px){
    .infrastructure-facility-carousel-image{
        width: 300px;
    }
}

@media only screen and (max-width:480px){
    .infrastructure-facility-header-text{
        height: 50vh;
    }
    .infrastructure-facility-header-text h1{
        font-size: 2.5rem;
    }
    .infrastructure-facility-WSPGallery h4{
        font-size: 1.1rem;
    }
    .infrastructure-facility-detailed-ul li{
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .infrastructure-facility-carousel-image{
        width: 300px;
    }
}