#about-school-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  margin: 0 10% 100px 10%;
}
#about-school-text {
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
  color: rgb(97, 96, 96);
}
#about-school-card {
  display: grid;
  grid-template-columns: 4fr 3fr;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  grid-gap: 0;
  grid-column-gap: 0;
}
#about-school-card-image {
  width: 100%;
  object-fit: cover;
  height: 380px;
}
#about-school-card-text {
  line-height: 35px;
  font-size: 15px;
  text-align: justify;
  font-weight: 600;
  padding: 8% 25px;
  background-color: #ffedd4;
  color: var(--color-primary);
}
