#about-school-container {
  display: grid;
  grid-template-rows: auto auto;
  margin: 2.5%;
}
#about-school-text {
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 40px;
  color: rgb(97, 96, 96);
}
#about-school-card {
  display: grid;
  grid-template-columns: auto auto;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  grid-gap: 0;
  grid-column-gap: 0;
}
#about-school-card-image {
  width: 100%;
  object-fit: cover;
  height: 380px;
}
#about-school-card-text {
  line-height: 35px;
  font-size: 15px;
  text-align: start;
  font-weight: 600;
  padding: 15% 25px;
  background-color: #ffedd4;
  color: var(--color-primary);
}

@media only screen and (max-width: 769px) {
  #about-school-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
  }
  #about-school-card-image {
    width: 100%;
    height: auto;
  }
  #about-school-card-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 426px) {
  #about-school-text {
    line-height: 25px;
    font-size: 14px;
  }
  #about-school-card-text {
    font-size: 10px;
    line-height: 20px;
  }
}
