
.management-header-text{
    background:var(--color-banner-background), url(../../assets/school.jpg) center  no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.management-header-text h1{
    font-size: 4rem;
    margin-left: 40px;
}
.management-header-text p{
    font-size: 1.4rem;
    margin:20px 0  0 40px ;
    width: 75%;
}
.management-details-intro{
    margin: 20px 2.5%;
    padding: 20px;
    font-size: 1.1rem;
    line-height: 2rem;
}
.management-details-list{
    margin: 0 2% ;
    font-size: 1.1rem;
    line-height: 2rem
}
.management-details-ul  li{
    padding-bottom: 25px;
    list-style-type: none;
}

@media only screen and (max-width:480px){
    .management-header-text{
        height: 50vh;
    }
    .management-header-text h1{
        font-size: 2rem;
    }
    .management-header-text p{
        font-size: .7rem;
    }
    .management-details-intro{
        margin: 10px ;
        font-size: 1rem;
    }
    .management-details-list{
        margin: 0 ;
        font-size: 1rem;
    }
}
